<img src="https://cdn.pixabay.com/photo/2016/04/25/07/49/man-1351346_1280.png" alt="">

<div class="text-container">
    <h1>Hello! I'm Alexander Turner</h1>
    <h2>Welcome to my corner of the web!</h2>
    <p>I specialize in designing. I am dedicated to delivering top-notch results that exceed expectations. <br>
         Let's Connect! Ready to embark on a journey of collaboration? <br>
         I'm just a message away. Let's discuss how we can bring your project to life. Your success is my priority!</p>    
</div>
<div class="list-container">
    <ul>
        <li><a routerLink="**">Project 1</a></li>
        <li><a routerLink="**">Project 2</a></li>
        <li><a routerLink="**">Project 3</a></li>
        <li><a routerLink="**">Project 4</a></li>
        <li><a routerLink="**">Project 5</a></li>
    </ul>

</div>